.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        まなぶり
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{:href => "/users/3286/edit"}
            %i.fa.fa-cog
  
  .groups
    %a{:href => "/groups/6133/messages"}
      .group
        %p.group__group-name ms
        %p.group__latest-message test
