* {
  box-sizing: border-box;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      h2.main-header__left-box__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      ul.main-header__left-box__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;
        }
      li.main-header__left-box__member-list__member {
        margin: 0;
        padding: 0;
      }
    }
    a {
      color: #38aef0;
      .main-header__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
      }
    } 
  }


  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        p.message__upper-info__talker {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        p.message__upper-info__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      p.message__text {
          font-size: 14px;
          margin-bottom: 10px;
          color: #434a54;
      }
    }
  }

  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    #new_message.new_message {
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
        display: flex;
        #message_content.input-box__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .input-box__image {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          cursor: pointer;
          .fa.fa-image {
            display: inline-block;
            font-size: 22px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
          #message_image.input-box__image__file {
            display: none;
          }
      }
      .submit-btn {
            width: 130px;
            height: 50px;
            margin-left: 15px;
            background-color: #38aef0;
            color: white;
            cursor: pointer;
      }
    }
  }
}

