.chat-side {
  width: 300px;
  color: white;
  float: left;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      p.side-header__box__user-name {
        margin: 0;
        padding: 0;
      }
      ul.side-header__box__menu {
        display: flex;
        li.side-header__box__menu__new-group {
          margin-left: 0.3rem;
          a {
            color: white;
            i.fa.fa-edit {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
        li.side-header__box__menu__edit-user {
          margin-left: 0.3rem;
          a {
            color: white;
            i.fa.fa-cog {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }
    }
  }

  .groups {
    color: white;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    a {
      box-sizing: border-box;
      text-decoration: none;
      .group {
        margin: 0;
        padding: 0;
        color: white;
        p.group__group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        p.group__latest-message {
          font-size: 11px;
        }
      }
    }
  }
}